@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-Regular.woff2") format("woff2"),
       url("/fonts/kook/Kook-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-Medium.woff2") format("woff2"),
       url("/fonts/kook/Kook-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-Light.woff2") format("woff2"),
       url("/fonts/kook/Kook-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-ExtraLight.woff2") format("woff2"),
       url("/fonts/kook/Kook-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-Bold.woff2") format("woff2"),
       url("/fonts/kook/Kook-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kook";
  src: url("/fonts/kook/Kook-ExtraBold.woff2") format("woff2"),
       url("/fonts/kook/Kook-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
